.formTittle{
    font-family: 'Simonetta', cursive;
    font-size: 1.3rem;
    margin-bottom: 2%;
}
.btnSignUp{
    font-family: 'Simonetta', cursive;
    margin-bottom: 5%;
}
.registrationLink{
    font-weight: normal;

}

@media all and (min-width:768px){
   
    .formTittle{
        font-size: 2rem;
    }
}

@media all and (min-width: 1024px){
    .form-container-register{
        font-family: 'Simonetta', cursive;
        width: 40%;
    }
}

