
body {
  background-image: url("mar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  font-family:"Jost" ;
}
.loginForm{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 36px;
  font-size: 16px;
  min-height: 120px;
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
}
.logoForm{
  width: 75%;
}
.contenedor-login{
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80vh;
    background-color: #F7F6F6;
    text-align: center;
    margin: 0 auto;
    padding: 36px 10px;
    border-radius: 8px;
  
}
.icono-register{
  width: 50%;
}
.contenedor-registro{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh;
  background-color: #F7F6F6;
  text-align: center;
  margin: 0 auto;
  padding: 36px 10px;
  border-radius: 8px; 
}
.register-Form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 36px;
  font-size: 16px;
  min-height: 120px;
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
}
.btn-register{
  border: none;
  background-color:#A5BC34;
}
input{   
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  padding-left: 12px;
}
.google-btn{
  color:  #000;
    border: 3px solid #000;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
}
.col{
  width: 100%;
}
.col div{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color:#000;
  text-decoration: none;
}
.btn-registros{
  height: 48px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #A5BC34;
    color: #fdfffd;
}
.icono-google{
  height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 12px;
}
.contenido-google{
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-google{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.container {
  max-width: 600px;
  margin: 0 auto;
}

#post-content {
  width: 100%;
  height: 100px;
}

#post-list {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
.contenedor-login{
  background: none;
  margin-top: 2%;
  max-width: 90%;
  top: 45%;
  }
  .contenedor-registro{
    background: none;
    max-width: 85%;
   top:45%;
  }
  h1 {
    text-align: center;
    color: #fdfffd;
    background-color: #063277;
    width: 100%;
    height: 50px;
    font-family: "Open Sans";
  }
  body {
    background-image: url("fondoMar.jpeg");
    background-size: cover;
    /* background-repeat: no-repeat;*/
    background-position: absolute;
    background-size: 525px 800px;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    font-family: "Jost";
  }

  p {
    color: #fdfbfb;
    text-align: center;
    font-family: "Jost";
    margin: 10px;
  }
  
  a{
    color: #fdfffd;
  }
  h4 {
    text-align: center;
  }
 
  .register-Form{
    background-color: #F7F6F6;
    border-radius: 10%;
  }
.btn-register{
  border: none;
}
}


 
