
body {
  margin: 0px;
  padding: 0px;
  font-family:"Jost" ;
}
html, body {
  height: 100%;
}
.home-background {
  background-color: #ADD8E6;
}
.others-background{
  background-image: url("mar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.loginForm{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 36px;
  font-size: 16px;
  min-height: 120px;
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
}
.logoForm{
  width: 75%;
}
.contenedor-login{
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80vh;
    background-color: #F7F6F6;
    text-align: center;
    margin: 0 auto;
    padding: 36px 10px;
    border-radius: 8px;
  
}
.icono-register{
  width: 50%;
}
.contenedor-registro{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh;
  background-color: #F7F6F6;
  text-align: center;
  margin: 0 auto;
  padding: 36px 10px;
  border-radius: 8px; 
}
.register-Form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 36px;
  font-size: 16px;
  min-height: 120px;
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
}
.btn-register{
  border: none;
  background-color:#A5BC34;
}
input{   
  border:none;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  padding-left: 12px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
}
.google-btn{
  color:  #000;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  border:none;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
}
.col{
  width: 100%;
}
.col div{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color:#000;
  text-decoration: none;
}
.btn-registros{
  height: 48px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #A5BC34;
    color: #fdfffd;
}
.icono-google{
  height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 12px;
}
.contenido-google{
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-google{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.container-post {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
    align-items: left;
    flex-direction: column;
  

}

#post-content {
  width: 100%;
  height: 100px;
}

#post-list {
  margin-top: 20px;
  
}
.header-muro{
  color: #fdfffd;
  font-size: 300%;
  width: 100%;
  display: flex;
  align-items: center; /*alinea los elemntos dentro del header*/
  justify-content: space-around;
  height: 250px;
  background-color: #063075;
}
.logo-muro{
  width:15%;
  
}
.muro{
 
  height: 100%; /* Estableces la altura del div */
  width: 100%; /* Estableces el ancho del div */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
}
.btnCerrarSesion {
  background-color: #1e2a78;
  color: #fff; /* Para asegurarte de que el texto sea legible */
  border: none; /* Para eliminar el borde predeterminado del botón */
  padding: 10px 20px; /* Para agregar un poco de espacio entre el contenido y los bordes del botón */
  cursor: pointer; /* Para indicar que el botón es clickable */
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  color: black;
  background: none;
  width: 100%;
  height: 50px;
}
.post{
  background-color: white;
}
.post img{
  border-radius: 50%;
  text-align: left;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenedor-restablecer-contraseña {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh;
  background-color: #F7F6F6;
  text-align: center;
  margin: 0 auto;
  padding: 36px 10px;
  border-radius: 8px;
}
#contenedor-msj{
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#mensaje-envio {
  margin: 10px;
  color: black;
}
@media only screen and (max-width: 600px) {
.contenedor-login{
  background: none;
  margin-top: 2%;
  max-width: 90%;
  top: 45%;
  }
  .contenedor-registro{
    background: none;
    max-width: 85%;
   top:45%;
  }
 
 
  .home-background {
    background-color: #ADD8E6;
  }
  .others-background{
    background-image: url("fondoMar.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  p {
    color: #fdfbfb;
    text-align: center;
    font-family: "Jost";
    margin: 10px;
  }
  
  a{
    color: #fdfffd;
  }
  h4 {
    text-align: center;
  }
 
  .register-Form{
    background-color: #F7F6F6;
    border-radius: 10%;
  }
.btn-register{
  border: none;
}
.contenedor-restablecer-contraseña {
  background: none;
  max-width: 85%;
 top:45%;
}

}


 
