@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    color: #fdfffd;
    background-color: #063277;
    width: 100%;
    height: 50px;
    font-family: "Open Sans";
  }
  span {
    color: #70f164;
  }
  .bottom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 43px;
  }
  body {
    background-image: url("fondoMar.jpeg");
    background-size: contain;
    /* background-repeat: no-repeat;*/
    background-position: absolute;
    background-size: 525px 800px;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    font-family: "Jost";
  }

  header {
    color: #fdfffd;
    display: flex;
    flex-direction: column;
    text-align: center; /*alinea los elemntos dentro del header*/
  }
  header img {
    height: 200px;
    width: 340px;
    display: block; /* Asegura que la imagen se muestre como un elemento en bloque */
    margin: 0 auto; /* Establece m치rgenes autom치ticos para centrar la imagen horizontalmente */
    margin-bottom: 50px;
  }

  input {
    width: 250px;
    height: 25px;
    margin: 7px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: "Jost";
  }
  .iconoRegister {
    width: 160px;
    height: 130px;
    display: block;
    margin: 0 auto;
  }
  .logoForm {
    width: 70%;
    height: 50%;
    display: block;
    margin: 0 auto;
  }

  .row {
    text-align: center;
    
  }
  .loginForm {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    height: 350px;
    display: flex;
    
  }
 
  .registerForm {
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 400px;
    display: flex;
    margin: 25px;
    background:#F7F6F6;
    border-radius: 20px;
    text-align: center;
  }
  p {
    color: #fdfffd;
    text-align: center;
    font-family: "Jost";
    margin: 10px;
  }
  .btn-register{
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 43px;

  }
  .login {
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    height: 50%;
  }
  h4 {
    text-align: center;
  }

  .icono-google {
    width: 20px; /* Establecemos un ancho fijo para la imagen */
    height: 20px; /* Establecemos una altura fija para la imagen */
    object-fit: contain; /* Controla c칩mo se ajusta la imagen en el contenedor */
    margin-right: 10px; /* Ajustamos el margen derecho para separar la imagen del texto */
 vertical-align: middle;
 }
 .icono-fb {
  width: 20px; /* Establecemos un ancho fijo para la imagen */
  height: 20px; /* Establecemos una altura fija para la imagen */
  object-fit: contain; /* Controla c칩mo se ajusta la imagen en el contenedor */
  margin-left: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
  .google-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    width: 30%;
    color: rgb(72, 96, 233);
    border-radius: 12px;
  border-width: 2px 2px 4px;
  height: 40px;
  border: solid transparent;
}
a {
  text-decoration: none;}
.fb-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: 7%;
  padding: 0;
  width: 30%;
  color: #4261ea;
  border-radius: 12px;
  border-width: 2px 2px 4px;
  height: 40px;
  border: solid transparent;
}
.contenedor-botones-GF {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
}
