* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #9ae2dd;
  background-attachment: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.singIn {
  border: none;
  border-radius: 10px;
  cursor: url(imagenes/manopulsor.png), auto;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #9ae2dd;
  width: 300px;
  height: 50px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #ffffff;
  transition: all 0.8s ease;
}

h4 {

  text-align: center;
  margin-top: 20px;
  color: #808285;
}

.logo {
  display: flex;
  width: 40%;
}

p {
  color: #808285;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
@media (min-width: 415px) {
}

#img-google {
  height: 13%;
  width: 13%;
  padding-right: 10px;
}

#container {
  width: 40%;
  height: 120%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#homeScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#registerScreen {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#formRegister .inputTitle {
  background-color: #ffffff;
  border: groove;
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 9px;
  font-size: 10px;
  font-style: normal;
  color: #808285;
  justify-content: center;
  margin: 2px 20px 5px 10px;
}
#formRegister h4 {
  font-weight: 200;
}

#container2 {
  background: white;
  margin-right: 50px;
  border-top-right-radius: 5rem;
  background-clip: content-box;
  margin: 2px 55px 3px 10px;
}

.ingresar{
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  background: #9ae2dd;
  width: 300px;
  height: 50px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #ffffff;
  transition: all 0.8s ease;
}


