*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 20px;
  }
  body{
    background-color: #F1FAEE;

  }
    .container {
      display: flex;
      justify-content: center;
      background-color: #F1FAEE;
      justify-items: center;
      margin-top: 70px;
      margin-bottom: 70px;
    }
  
   .square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    background-color: #E0EAF1;
    
  }
  .headerHome {
    background-color: #B8D1E0;
      width: 100% ;
      height: 50%;
      display: flex;
      justify-content: center;

  }
  .logo {
    display: flex;
    width: 40%;
    height: 50%;
    margin-top: 0%;
    
  }
  .welcome{
    color: #1d3557; 
    font-size: 120%;
    font-weight: 700;
    display: flex;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }


/* CSS */

.btnLogin , .btnRegister, .btnEnviarLogin {
  height: 56px;
    width: 50%;
    align-items: center;    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 80%;
    font-weight: 700;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btnLogin:hover, .btnRegister:hover,.btnEnviarLogin:hover{
  background-color: #B8D1E0;
}
.btnRegister, .btnEnviarLogin{
  background-color: #FFB703;
}
.btnLogin{
  background-color: #1d3557;
}
.footerHome, .footerlog{
  background-color:#B8D1E0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marca{
  color: #f6f7fa;
  margin-top: 0%;
  font-size: 80%; 
}
/*login*/

#loginForm {
  display: flex;
  width: 100%;
  height: 100%;
  
  
}   
.contenedorMadre{
  background-color: #E0EAF1;
  display: flex;
  width:30em;
  height: 33em;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
    
}
.contenedorlogo{
  background-color: #B8D1E0;
  width: 30em ;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;

}
.loginLogo{
  display: flex;
  width: 40%;
 
  margin-top: 0%;
}
h1{
  color: #1d3557; 
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  margin: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.labelogin{
  background-color: #1d3557;
  color:  #B8D1E0;
  
}
.inputLogin{
  display: flex;
  text-align: center;
  width: 80%;
  height: 25%;
  margin: 5%;
  flex-direction: column;

  
}
.btnEnviarLogin{
  width: 100%;
  
}
.googleBtn{
  display: flex;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #F1FAEE;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #113247;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
#wrong{
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;

}

/*vista register desktop*/
body{
  background-color:  #F1FAEE;
  
}
.container{
  display: flex;
  background-color: #F1FAEE;
  margin:0;
  padding: 0%; 
}

/*este serà el header*/
#registerForm{
  background-color: #B8D1E0;
  display: flex;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
    
  justify-content: center;
  align-items: center;
}

.tituloReg{
  margin-top: 5%;
  color: red;
}

.containerTitulo{  
  background-color: #E0EAF1;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  display: flex;
}

.containerRegister{  
  background-color: #E0EAF1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 0%;
  margin-bottom: 1%;
  width: 100%;
  justify-self: right;
  align-items: start;
}

.labelsReg{ 
  grid-row: 1/2;
}

.footerReg{
  display: flex;
  justify-content: left;    
}

.contLogoReg{
  background-color:#B8D1E0;
}

.logoReg{
  display: flex;
  width: 30%;
  height: 30%;
  margin-right: 45%;
  margin-top: 0%;
  margin-bottom: -5%;  
}

.labelReg{
  width: 80%;
}

.inputReg{
  width: 80%;
  height:60% ;
  display: grid;
}

/*Vista para movil*/

@media(max-width:390px){
  /*home*/
  .container{
    display:flex;
    background-color: #F1FAEE;
  }   
  
  .square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #E0EAF1;  
  }

  .headerHome {
    background-color: #B8D1E0;
    width: 100% ;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  .logo {
    display: flex;
    width: 95%;
    height: 125%;
    margin-top: 0%;
  }

  .welcome{
    color: #1d3557; 
    font-size: 80%;
    font-weight: 700;
    display: flex;
    margin: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .btnLogin , .btnRegister {
    height: 56px;
    width: 50%;
    align-items: center;    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 80%;
    font-weight: 700;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin: 3%;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  .btnLogin:hover, .btnRegister:hover{
    background-color: #B8D1E0;
  }
  .btnRegister{
    background-color: #FFB703;
  }
  .btnLogin{
    background-color: #1d3557;
  }
  .footerHome{
    background-color:#B8D1E0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .marca{
    color: #f6f7fa;
    margin-top: 5%;
    font-size: 70%; 
  }
  /*login*/

  #loginForm {
    background-color: #b00650;
    display: flex; 
    margin: auto;
    
    
  }   
  .logoLogin{
    display: flex;
    background-color: aqua;
    
  }
  h1{
  display: flex;
  text-align: center;
  }
  .inputLogin{
    display: flex;
    background-color: #FFB703;
    width: 50%;
    height: 70%;
  }
  .sendBtn{
    display: flex;
    background-color: #1d3557;
  }
  .googleBtn{
    display: flex;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
}


/*vista para movil reg*/
@media(max-width:390px){
  body{
    background-color:  #F1FAEE; 
  }
}
/*este serà el header*/
#registerForm{
  background-color: #B8D1E0;
  display: grid;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center ;
}

.tituloReg{
  margin-top: 5%;
  color: red;
}

.containerTitulo{
  
  background-color: #E0EAF1;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  display: flex;

}
.containerRegister{
  
  background-color: #E0EAF1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
  
  margin-top: 0%;
  margin-bottom: 1%;
  width: 100%;
  justify-self: right;
  align-items: start;
  
  
  
}
.labelsReg{ 
  grid-row: 1/2;

}
.footerReg{
display: flex;
justify-content: left;


    
}
.contLogoReg{
  background-color:#B8D1E0;

}
.logoReg{
  display: flex;
  width: 30%;
  height: 30%;
  margin-right: 45%;
  margin-top: 0%;
  margin-bottom: -5%;
  
}

.labelReg{
  
  width: 80%;

}
.inputReg{
  width: 80%;
  height:60% ;
  display: grid;
  
}
