* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: linear-gradient(#9ae2dd, #ffffff);
  background-attachment: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.singIn {
  border: none;
  border-radius: 0,2rem;
  padding: 0.7rem 0.8rem;
  background: #9ae2dd;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #ffffff;
  transition: all .8s ease;
}

h1 {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  color: #a7a9ac;
}

.logo {
  display: flex;
  width: 50%;
  padding-left: 50px ;
  margin: 10em 5px 0em 5em ; /*izqu arrib dere abaj*/

}

p {
  color: #a7a9ac;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 10px;
}
@media (min-width: 415px) {

}
