* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(#9ae2dd, #ffffff);
  background-attachment: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.singIn {
  border: none;
  border-radius: 10px;
  cursor: url(imagenes/manopulsor.png), auto;
  padding: 10px;
  background: #9ae2dd;
  width: 300px;
  height: 50px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #ffffff;
  transition: all 0.8s ease;
}

h1 {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: #a7a9ac;
}

.logo {
  display: flex;
  width: 30%;
}

p {
  color: #a7a9ac;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
@media (min-width: 415px) {
}

#img-google {
  height: 13%;
  width: 13%;
  padding-right: 10px;
}

#container {
  width: 40%;
  height: 120%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#principal {
  display: flex;
  align-items: center;
  justify-content: center;
}

#principal2 {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.box {
  width: 45%;
  height: 25px;
  border-radius: 5px;
}
.raza{
  width: 45%;
  height: 25px;
  border-radius: 5px;
}
.edad{
  width: 45%;
  height: 25px;
  border-radius: 5px;
  
}
.foto{
  height: 50%;
  width: 50%;
}


